body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #293c4b;
}

h2 {
    text-align: center;
    margin: 0.5em;
}

.done {
    color: green;
}

.in-progress {
    color: red;
    font-weight: bold;
}
